body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin-top: 5px;
    text-align: center;

}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 330px;
    height: 180px;

}

a{
    text-decoration: none; /*quita las rayas del texto*/
    cursor: pointer;
}

header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    justify-content: flex-end; /* lo recorre al final la lista */
}
/*******************************************/
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a{
    margin-right: 25px;
    color: black;
}

nav .nav-right-section img{
    /*imagen de usuario*/
    border-radius: 170px;
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

nav .nav-right-section .menu-icon{
    background-image: url('https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png');
    /* no se ve como imagen para darle click eso sería cambiándolo como la foto del usuario y el url en el index en lugar de aqui o eso parece aqui usamos cursos pointer para arreglar eso*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/******************************************/

main .main-input{
    width: 580px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    /*contenedor para el input de texto en la barra de búsqueda*/
    width: 550px;
    border-radius: 150px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    /*buscador de texto y le quitamos los bordes*/
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    /*sombrita que resalta la barra de búsqueda*/
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input-container .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;

}

main .main-input .micro-icon{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 19px;
    height: 19px;
    cursor: pointer;
}


/*------------------------------------*/

main .main-buttons{
    width: 530px;
    margin: 0 auto;
}

main .main-buttons button{
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    border-radius: 8px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover{
    /* para la sombra*/
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px #565665;
    color: #222;
}

/*----------------------------------------------*/

footer{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* separa en 2 partes*/
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-content: right;
}

footer ul li a{
    margin: 10px;
    color: #5f6368;
}